<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('partials/head') %>
    <title>Home</title>
  </head>
  <body>
    <%-include('partials/header') %>
    <div class="container flex flex-wrap mt-3">
      <div class="row row-cols-3">
        <% locals.blogs.map(item=>{%>
        <div class="col mt-3">
          <div class="card" style="width: 18rem">
            <img
              src="uploads/<%= item.coverImageUrl %>"
              class="card-img-top"
              alt="..."
              width="18rem"
              height="250px"
              style="object-fit: contain"
            />
            <div class="card-body">
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.body.length>50?item.body.substring(1,50)+".....":item.body %></p>
              <a href="/blog/<%=item._id %>" class="btn btn-primary"
                >See Blog</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <%-include('partials/script') %>
  </body>
</html>
